<VirtualHost *:80>
   ServerName {{ centbot_httpd_hostname }}
   DocumentRoot /var/www/html/
   CustomLog logs/{{ centbot_httpd_hostname }}_access.log combined
   ErrorLog logs/{{ centbot_httpd_hostname }}_error.log
   AccessFileName .htaccess

   RewriteEngine On
   RewriteCond $1 !^.well-known
   RewriteCond %{HTTPS} !=on
   RewriteRule ^/?(.*) https://%{SERVER_NAME}/$1 [R,L]

   <Location "/.well-known/">
     ProxyPass "http://cephas.centos.org/.well-known/"
   </Location>

</VirtualHost>

